@font-face {
  font-family: 'Baloo Bhai';
  font-style: normal;
  font-weight: 400;
  src: local('Baloo Bhai'), local('BalooBhai-Regular'), url(https://fonts.gstatic.com/s/baloobhai/v1/FQvpC-04bh2QINuWAdnNW_esZW2xOQ-xsNqO47m55DA.ttf) format('truetype');
}
